---
const { metadata } = Astro.props;
---

<!-- start section -->
<section>
    <div class="container">
        <div class="row">
            <div
                class="col-lg-4 pe-5 order-2 order-lg-1 lg-pe-3 md-pe-15px"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
            >
                <div
                    class="bg-very-light-gray border-radius-6px p-45px lg-p-25px mb-25px"
                >
                    <span
                        class="fs-20 ls-minus-05px alt-font text-dark-gray fw-600 mb-20px d-inline-block"
                        >Our services</span
                    >
                    <ul class="p-0 m-0 list-style-02">
                        <li
                            class="pb-10px mb-10px border-bottom border-color-transparent-dark"
                        >
                            <a
                                href="/services/business-courier-services"
                                class={`text-dark-gray ${metadata.actualServices === "business-courier-services" ? "text-primary" : ""} text-primary-hover`}
                                >Courier Services for Businesses</a
                            ><i class="feather icon-feather-arrow-right ms-auto"
                            ></i>
                        </li>
                        <li
                            class="pb-10px mb-10px border-bottom border-color-transparent-dark"
                        >
                            <a
                                href="/services/empty-trip-rates"
                                class={`text-dark-gray ${metadata.actualServices === "empty-trip-rates" ? "text-primary" : ""} text-primary-hover`}
                                >Empty Trip Rates</a
                            ><i class="feather icon-feather-arrow-right ms-auto"
                            ></i>
                        </li>
                        <li
                            class="pb-10px mb-10px border-bottom border-color-transparent-dark"
                        >
                            <a
                                href="/services/awo-now-services"
                                class={`text-dark-gray ${metadata.actualServices === "awo-now-services" ? "text-primary" : ""} text-primary-hover`}
                                >AWO (Now) Services</a
                            ><i class="feather icon-feather-arrow-right ms-auto"
                            ></i>
                        </li>
                        <li
                            class="pb-10px mb-10px border-bottom border-color-transparent-dark"
                        >
                            <a
                                href="/services/vehicle-inspections-services"
                                class={`text-dark-gray ${metadata.actualServices === "vehicle-inspections-services" ? "text-primary" : ""} text-primary-hover`}
                                >Vehicle Inspection Services</a
                            ><i class="feather icon-feather-arrow-right ms-auto"
                            ></i>
                        </li>
                        <li
                            class="pb-10px mb-10px border-bottom border-color-transparent-dark"
                        >
                            <a
                                href="/services/vehicle-title-transfer"
                                class={`text-dark-gray ${metadata.actualServices === "vehicle-title-transfer" ? "text-primary" : ""} text-primary-hover`}
                                >Vehicle Title Transfer</a
                            ><i class="feather icon-feather-arrow-right ms-auto"
                            ></i>
                        </li>
                        <li
                            class="pb-10px mb-10px border-bottom border-color-transparent-dark"
                        >
                            <a
                                href="/services/duplicate-inspection-card-request"
                                class={`text-dark-gray ${metadata.actualServices === "duplicate-inspection-card-request" ? "text-primary" : ""} text-primary-hover`}
                                >Duplicate Inspection Card Request</a
                            ><i class="feather icon-feather-arrow-right ms-auto"
                            ></i>
                        </li>
                        <li
                            class="pb-10px mb-10px border-bottom border-color-transparent-dark"
                        >
                            <a
                                href="/services/duplicate-tax-card-request"
                                class={`text-dark-gray ${metadata.actualServices === "duplicate-tax-card-request" ? "text-primary" : ""} text-primary-hover`}
                                >Duplicate Tax Card Request(Receiver Curaçao)</a
                            ><i class="feather icon-feather-arrow-right ms-auto"
                            ></i>
                        </li>
                        <li
                            class="pb-10px mb-10px border-bottom border-color-transparent-dark"
                        >
                            <a
                                href="/services/vehicle-import-care-package"
                                class={`text-dark-gray ${metadata.actualServices === "vehicle-import-care-package" ? "text-primary" : ""} text-primary-hover`}
                                >Vehicle Import Care Package
                            </a><i
                                class="feather icon-feather-arrow-right ms-auto"
                            ></i>
                        </li>
                        <li
                            class="pb-10px mb-10px border-bottom border-color-transparent-dark"
                        >
                            <a
                                href="/services/administrative-services"
                                class={`text-dark-gray ${metadata.actualServices === "administrative-services" ? "text-primary" : ""} text-primary-hover`}
                                >Administrative Services
                            </a><i
                                class="feather icon-feather-arrow-right ms-auto"
                            ></i>
                        </li>
                    </ul>
                </div>
                <div
                    class="bg-dark-gray border-radius-6px ps-35px pb-25px pt-25px lg-ps-25px mb-25px"
                >
                    <div class="feature-box feature-box-left-icon-middle">
                        <div
                            class="feature-box-icon feature-box-icon-rounded w-65px h-65px me-20px lg-me-15px rounded-circle bg-yellow rounded-box"
                        >
                            <i
                                class="bi bi-telephone-outbound icon-extra-medium text-white"
                            ></i>
                        </div>
                        <div
                            class="feature-box-content last-paragraph-no-margin"
                        >
                            <span
                                class="fs-19 lh-22 mb-5px d-block text-white opacity-6 fw-300"
                                >Customer care?</span
                            >
                            <a
                                href="tel:5999528510"
                                class="text-white fs-20 fw-500 lh-22"
                                >+599.9 528 5104</a
                            >
                        </div>
                    </div>
                </div>
                <div
                    class="bg-very-light-gray border-radius-6px p-40px lg-p-25px md-p-35px"
                >
                    <span
                        class="fs-20 ls-minus-05px alt-font text-dark-gray fw-600 mb-25px d-inline-block"
                        >Get a free consultation?</span
                    >
                    <div class="contact-form-style-01 mt-0">
                        <!-- start contact form -->
                        <form
                            action="email-templates/contact-form.php"
                            method="post"
                        >
                            <div class="position-relative form-group mb-20px">
                                <span class="form-icon"
                                    ><i class="bi bi-emoji-smile"></i></span
                                >
                                <input
                                    type="text"
                                    name="name"
                                    class="form-control border-white box-shadow-large required"
                                    placeholder="Your name*"
                                />
                            </div>
                            <div class="position-relative form-group mb-20px">
                                <span class="form-icon"
                                    ><i class="bi bi-envelope"></i></span
                                >
                                <input
                                    type="email"
                                    name="email"
                                    class="form-control border-white box-shadow-large required"
                                    placeholder="Your email address*"
                                />
                            </div>
                            <div
                                class="position-relative form-group form-textarea"
                            >
                                <span class="form-icon"
                                    ><i class="bi bi-chat-square-dots"
                                    ></i></span
                                >
                                <textarea
                                    placeholder="Your message"
                                    name="comment"
                                    class="form-control border-white box-shadow-large"
                                    rows="3"></textarea>
                                <input type="hidden" name="redirect" value="" />
                                <button
                                    class="btn btn-medium btn-round-edge btn-base-color btn-box-shadow mt-20px submit w-100"
                                    type="submit">Send message</button
                                >
                                <div class="mt-20px form-results d-none"></div>
                            </div>
                        </form>
                        <!-- end contact form -->
                    </div>
                </div>
            </div>
            <div
                class="col-lg-8 order-1 order-lg-2 md-mb-50px"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
            >
                <h4
                    class="text-dark-gray fw-700 ls-minus-1px alt-font mb-20px d-block"
                >
                    {metadata.h1}
                </h4>
                <p>{metadata.text}</p>

                {
                    metadata.text_points && metadata.text_points.length > 0 && (
                        <ul>
                            {metadata.text_points.map((point) => (
                                <li>{point}</li>
                            ))}
                        </ul>
                    )
                }

                <p>{metadata.text_1}</p>
                <p>{metadata.text_1_1}</p>
                <p>{metadata.text_2}</p>
                <p>{metadata.text_2_1}</p>
                <p>{metadata.text_2_2}</p>
                <img
                    src={metadata.img}
                    class="mt-30px md-mt-15px mb-60px md-mb-40px border-radius-6px"
                    alt=""
                />
                <div class="row row-cols-1 mb-30px md-mb-15px">
                    <div class="col">
                        <span
                            class="fs-24 alt-font text-dark-gray ls-minus-05px fw-700 mb-10px d-block"
                            >Return assumptions</span
                        >
                        <p class="w-100 sm-w-100">
                            Lorem ipsum dolor sit amet conseetur adipiscing elit
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
